// ** Base: contained within this file are all your resets, variables, mixins, and any utility classes.

// $color-primary:#3591FE;
$color-primary:#0E5EBB;
$color-secondary:#FFDC00;
// $color-secondary:#EBEE1D; // original color
$color-footer:#232a33;
$color-white:#FBFBFD;
$color-font:#2E343B;

$shadow:0 0.1rem 0.6rem rgba(0, 0, 0, 0.4);

$font-primary: 'Lato',
arial,
sans-serif;

$bp-large:75em; //1200px
$bp-medium:56.25em; //900px
$bp-small:31.25em; //500px;




*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @media only screen and (max-width: $bp-medium) {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  font-family: $font-primary;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: $color-font;
  background-color: #f7f7f7;
}

.heading-1 {
  color: $color-white;
  text-transform: uppercase;


  &--main {
    display: block;
    font-size: 8rem;
    font-weight: 900;
    letter-spacing: .06rem;
    line-height: 0.9;
    margin-bottom: 4rem;

    @media only screen and (max-width: $bp-small) {
      font-size: 4.5rem;
      margin-bottom: 1rem;
    }
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .06em;

    @media only screen and (max-width: $bp-small) {
      font-size: .5rem;
    }
  }
}

.heading-2 {
  text-transform: uppercase;
  color: $color-primary;
  border-bottom: 2px solid $color-secondary;
  font-size: 3rem;
  font-weight: 700;
  margin: 4.5rem 0;
  text-align: center;
  letter-spacing: 0.08rem;
}

.heading-3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1.8rem;
}

.heading-4 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 1.8rem;
}

.text {
  font-size: 1.8rem;
  padding: 0 6.5rem;
  text-align: center;
  margin-bottom: 2.5rem;
}