// ** Base: contained within this file are all your resets, variables, mixins, and any utility classes.

// $color-primary:#3591FE;
$color-primary:#0E5EBB;
$color-secondary:#EBEE1D;
$color-footer:#232a33;
$color-white:#FBFBFD;

$shadow:0 0.1rem 0.6rem rgba(0, 0, 0, 0.4);

$font-primary: 'Lato',
sans-serif;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: $font-primary;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
}

.heading-1 {
  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden;
  position: absolute;
  top: 20rem;
  left: 3rem;

  &--main {
    display: block;
    font-size: 8rem;
    font-weight: 900;
    letter-spacing: .06rem;
    line-height: 0.9;
    margin-bottom: 4rem;
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .06em;

  }
}

.heading-2 {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 700;
  margin: 2.5rem auto;
  text-align: center;
  letter-spacing: 0.08rem;
}

.heading-3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 300;
  margin-bottom: 1.8rem;
}

.heading-4 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 1.8rem;
}

.text {
  font-size: 1.8rem;
  padding: 0 2.5rem;
  text-align: center;
  margin-bottom: 2.5rem;
}