//** Components: anything reusable such as buttons, navbars, cards etc.

.header {
  box-shadow: $shadow;
  height: 7rem;

  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;

    .logo {
      height: 100%;
    }

    &__list {
      align-self: stretch;
      display: flex;
      width: 35rem;
      align-items: center;
      justify-content: space-around;
      list-style: none;



      // &>*:hover {
      //   background-color: $color-primary;
      //   color: $color-white;
      // }
    }

    &__item {}

    align-items: center;

    &__link {

      &:link,
      &:visited {
        // padding-right: 2rem;
        display: inline-block;
        letter-spacing: 0.25rem;
        font-size: 1.7rem;
        font-weight: 500;
        color: black;
        text-decoration: none;
        text-transform: uppercase;
        padding: 1rem;

        &:hover {
          background-color: $color-primary;
          color: $color-white;
        }
      }
    }
  }
}

.btn {
  display: block;
  cursor: pointer;
  padding: 1.5rem 4rem;
  text-transform: uppercase;
  background: $color-secondary;
  color: $color-font;
  border: none;
  border-radius: 3px;
  font-size: 1.6rem;
  font-weight: 600;
  margin: auto;
  text-decoration: none;
  // display: inline-block;
  transition: all .2s;

  &:hover {
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0rem 1.3rem 2.3rem rgba(0, 0, 0, 0.9);
  }
}

.paragraph:not(:last-of-type) {
  margin-bottom: 2rem;
}