//** Components: anything reusable such as buttons, navbars, cards etc.

.header {
  box-shadow: $shadow;
  height: 7rem;

  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // width: 100%;//!Ova mi smetache
    height: 100%;

    .logo {
      height: 100%;
    }

    &__list {
      display: flex;
      // width: 35rem;//!Ova smetase za avbaro
      align-items: center;
      // justify-content: space-around; //!Ova praese problem, izbrisi go ako se e vo red ko che zavrsis.




      // &>*:hover {
      //   background-color: $color-primary;
      //   color: $color-white;
      // }
    }

    &__item {
      list-style: none;
    }


    &__link {

      &:link,
      &:visited {
        // padding-right: 2rem;
        display: inline-block;
        letter-spacing: 0.25rem;
        font-size: 1.7rem;
        font-weight: 500;
        color: black;
        text-decoration: none;
        text-transform: uppercase;
        padding: 1rem;
        transition: all .4s;

        &:hover {
          color: $color-primary;
        }
      }
    }
  }
}

.burger {
  display: none;

  div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;

  }
}

.btn {
  display: block;
  cursor: pointer;
  padding: 1.5rem 4rem;
  text-transform: uppercase;
  background: $color-secondary;
  color: $color-font;
  border: none;
  border-radius: 3px;
  font-size: 1.6rem;
  font-weight: 600;
  margin: auto;
  text-decoration: none;
  // display: inline-block;
  transition: all .2s;

  &:hover {
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0rem 1.3rem 2.3rem rgba(0, 0, 0, 0.9);
  }
}

.paragraph:not(:last-of-type) {
  margin-bottom: 2rem;
}

@media screen and (max-width: $bp-small) {
  .burger {
    display: block;
  }

  .header {

    .navigation {

      &__list {
        // visibility: hidden;
        display: none;


        &.nav-active {
          // visibility: visible;
          background-color: $color-white;
          position: absolute;
          width: 100%; //?Ova e sega full oti pocnuva od left 0/!Ova e oti navbari e vo header i ima padding/margin. 
          // height: 0; //? Ova e background nema nisto
          top: 7rem;
          left: 0;
          flex-direction: column;
          display: flex;
        }
      }
    }

  }

}