//** Layout: contains all the CSS that handles the layout, such as the container and any grid systems.
.container {
  max-width: 120rem;
  margin: 0 auto;
}





.hero {
  height: 85vh;
  background-color: $color-primary;
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-position: top;

  .container {
    height: 100%;
  }

  &__main {
    // background-color: red;
    height: 100%;
    display: flex;
  }

  &__description {
    // background-color: blueviolet;
    flex: 0 0 50%;
    position: relative;
  }

  &__form {
    // background-color: olivedrab;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    #contact {
      padding: 4rem;
      background-color: rgba($color-primary, .8);
      border-radius: 2px;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.9);

      h3,
      h4 {
        color: $color-white;
      }

      fieldset {
        border: none;
        margin-bottom: 1.5rem;
      }

      input,
      textarea {
        font-size: 1.5rem;
        font-family: inherit;
        color: black;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: $color-white;
        border: none;
        border-bottom: 3px solid transparent;
        width: 100%;
        display: block;
        transition: all .3s;

        &:focus {
          outline: none;
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
          border-bottom: 3px solid $color-secondary;
        }
      }
    }

  }
}

// , url(img/bg.jpg)

.info {
  .container {
    color: $color-white;
    display: flex;
    justify-content: space-around;
    padding: 2.5rem 0;
  }

  background-color: $color-primary;

}


.service {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 3rem;
  align-items: start;

  svg {
    width: 4.8rem;
    height: 4.8rem;
    fill: $color-primary;
  }
}

.about {
  &__wrapper {
    display: flex;
  }

  &__text {
    flex: 0 0 50%;
  }
}

.footer {
  background-color: $color-footer;
  color: $color-white;

  &__info {
    display: flex;
    justify-content: space-between;
    padding: 2.5rem 0;
    text-align: center;

    &>* {
      width: 30%;
    }
  }

  &__services {


    .list {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      text-align: left;

      &__item {
        flex: 0 0 50%;


        &::before {
          content: '\2014';
          position: absolute;
          margin-left: -20px;
          color: $color-secondary;
        }
      }
    }
  }

  &__text {
    font-size: 1.4rem;

    &--first {
      width: 80%;
      margin: auto;
    }

    &--second {
      margin-left: auto;
      width: 80%;
    }
  }

  .copyright {
    font-size: 1.2rem;
    text-align: center;
    padding: 1.5rem;
    background-color: saturate($color-footer, 15%);
  }
}